/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Дополнительно для всех браузеров */
.form-input[type="number"] {
    appearance: textfield;
}




html {
    overflow-y: auto;
    direction: ltr;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}


/* Кастомный скроллбар для Webkit-браузеров */
html::-webkit-scrollbar {
    width: 12px; /* ширина всего скроллбара */
}

html::-webkit-scrollbar-track {
    background: #F8F8F8; /* цвет зоны отслеживания */
}

html::-webkit-scrollbar-thumb {
    background-color: #2A7FBA; /* цвет бегунка */
    border-radius: 6px; /* округлость бегунка */
    border: 2px solid #F8F8F8; /* отступ вокруг бегунка */
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #236fa3; /* цвет бегунка при наведении */
}